.box{
    background-color: #fff;
    width: 715px;
    z-index: 100;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
}
.box img.clock{
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
}
.box h3{
    color: #000;
    margin-bottom: 15px;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #cac9d9;
    padding-bottom: 10px;
    font-size: 24px;
}

audio{
    display: none;
}
@media screen and (max-width: 800px){
    .box{
        width: 85%;
    }
}
@media screen and (max-width: 700px){
    .box img.clock{
        width: 125px;
        top: -46px;
    }
    .box h3{
        font-size: 22px;
        margin-top: 5px;
    }
}