.reminder-card{
    margin-top: 20px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    text-align: left;
}
.reminder-card h4{
    font-size: 20px;
}
.reminder-card .reminder-description{
    font-size: 14.5px;
}
.reminder-card .date-time span{
    font-size: 13px;
    margin-right: 15px;
    color: #333;
    font-weight: 500;
}
.edit-delete{
    position: absolute;
    right: 20px;
    top: 15px;
}
.edit-delete span{
    font-size: 20px;
    font-weight: 500;
    margin-left: 6px;
    color: #6144a1;
    cursor: pointer;
    transition: .3s;
}
.edit-delete span:hover{
    color: #333;
}